In [2]:
import pandas as pd

data = pd.read_csv("Pokemon.csv")

data.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [6]:
round(data["HP"].mean())

69

In [7]:
hp_mean = round(data["HP"].mean())

def set_hp(val):
    if val > hp_mean:
        return "HP is High"
    elif val == hp_mean:
        return "HP is equal"
    else:
        return "HP is Low"
    
data["High_Low_HP"] = data["HP"].apply(set_hp)

data.head(510)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,High_Low_HP
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,HP is Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,HP is Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,HP is High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,HP is High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,HP is Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,455,Carnivine,Grass,NaN,454,74,100,72,90,72,46,4,False,HP is High
506,456,Finneon,Water,NaN,330,49,49,56,49,61,66,4,False,HP is Low
507,457,Lumineon,Water,NaN,460,69,69,76,69,86,91,4,False,HP is equal
508,458,Mantyke,Water,Flying,345,45,20,50,60,120,50,4,False,HP is Low
509,459,Snover,Grass,Ice,334,60,62,50,62,60,40,4,False,HP is Low

In [12]:
speed_mean = round(data["Speed"].mean())

def set_speed(val):
    if val > speed_mean:
        return "Speed is High"
    elif val == speed_mean:
        return "Speed is equal"
    else:
        return "Speed is Low"
    
data["High_Low_Speed"] = data["Speed"].apply(set_speed)

data.head(130)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,High_Low_HP,High_Low_Speed
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,HP is Low,Speed is Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,HP is Low,Speed is Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,HP is High,Speed is High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,HP is High,Speed is High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,HP is Low,Speed is Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False,HP is Low,Speed is Low
126,117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False,HP is Low,Speed is High
127,118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False,HP is Low,Speed is Low
128,119,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False,HP is High,Speed is equal
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False,HP is Low,Speed is High